In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston_data = load_boston()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [4]:
boston_data.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [5]:
data=pd.DataFrame(boston_data.data, columns=boston_data.feature_names)

data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [7]:
sc_x=StandardScaler()
x=sc_x.fit_transform(data)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x,boston_data.target, test_size=0.3)

In [9]:
dt=DecisionTreeRegressor()

In [10]:
dt.fit(X_train,y_train)

DecisionTreeRegressor()

In [11]:
y_pred=dt.predict(X_test)

In [12]:
y_pred

array([32.9, 17.5, 34.7, 23.8, 21.7, 24.8, 25.2, 32.7, 25.2, 14.4, 22.9,
       19.4, 46.7, 19.1, 21.5,  9.7, 23.3, 24.3, 13.4, 22.4, 19.6, 22. ,
       12.8, 19.3, 19.3, 20.9, 16.7, 28.6, 10.9, 20.5, 17.8, 18.9, 30.1,
       15.6, 23.6,  9.7, 14.6, 19.8, 50. , 19.1, 19.3, 18.1, 19.3, 50. ,
       23.2, 21.5, 13.4, 19.7, 15.7, 23.3, 13. , 13.8, 24.2, 20.9,  8.7,
       18.1, 23. , 22.7, 21.4, 17.5, 13.4, 18.2, 17.1, 22.6, 15.6, 22.7,
       46.7, 19.1, 16.1, 29.4, 30.7,  8.7, 31.6,  8.3,  5. , 19.5, 50. ,
       24. ,  8.5, 20.3, 11.9, 23.8, 28.7, 19.3, 18.3, 24.6, 18.5, 28.7,
       20.9, 13.6, 14.1, 21.5, 20.5, 20.6, 35.4, 17. , 23.8, 13.8, 15.6,
       19. , 34.9, 19.3, 16.1, 30.1, 19.8, 31.6, 18.2,  8.5, 14.2, 23.8,
       22.2, 17.5, 21. , 27.9, 15.6, 20.8, 50. , 24.5, 27.5, 19.3, 25. ,
       50. , 19.9,  7.4, 16.4, 50. ,  7.2, 50. , 16.4, 24.7, 19.1, 21.7,
       18.3, 24.4, 13.9, 21.8,  8.5, 23.5, 20.3, 24.8, 20.9, 20.6, 30.1,
       19.3, 27.1, 15.6, 50. , 33. , 50. , 23.8, 26.6, 18.4])

In [13]:
y_test

array([29. , 13.1, 34.9, 22.3, 19.9, 24.1, 23. , 32.2, 25. , 19.7, 24.8,
       20.4, 44.8, 17.2, 22. , 10.5, 23.7, 24. ,  7.5, 21.7, 22.2, 24.8,
       12.1, 19.3, 20. , 22.5, 14.1, 27.1, 10.2, 21.4, 16.2, 23.1, 29. ,
       16.6, 28.1, 12.7, 17.8, 19.3, 35.2,  8.1, 22.8, 17.4, 13.4, 48.5,
       20.5, 18.8, 15.2, 22.6, 17.3, 27. , 14.9, 11.7, 23.4, 23.9,  8.3,
       15.6, 21.2, 20.2, 20. , 14.3, 11.8, 20.4, 18. , 22.2, 17.5, 19.5,
       48.3, 13.3, 21.4, 31.5, 33.8, 11.7, 31.7,  5.6,  8.5, 19.5, 27.9,
       22.8, 11.5, 19.4, 25. , 19.1, 30.1, 21.7, 20. , 23.7, 16. , 31.5,
       20.3, 14.5, 17.2, 22.5, 21.7, 21.1, 41.3, 15.6, 23.1, 14.5, 15.4,
       19.9, 31.2, 20. , 21.4, 26.7, 21.7, 28.5, 14.5, 12.3, 15.1, 20.3,
       20.1, 15.6, 18.9, 28. , 15.2, 21.9, 15. , 26.4, 32.5, 17.1, 24.4,
       21.9, 18.2,  8.4, 17.7, 42.3, 10.2, 15. , 23.2, 24.1,  7. , 20.6,
       21.8, 25. , 14.8, 18.2, 11.3, 22.5, 18.9, 26.6, 21.6, 19.6, 27.5,
       16.2, 12.7, 13.1, 43.8, 35.4, 41.7, 21. , 30.8, 16.1])

In [14]:
mean_squared_error(y_pred,y_test)

37.30322368421053

In [16]:
r2_score(y_pred,y_test)

0.5962029587474627

In [18]:
dt.score(X_test,y_test)

0.41547867575141695

In [20]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000